{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Story 9</title>

<!-- CSS only -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1cQRFi3dgfSVKpc1B9idTEuN3cBScszNHP9silYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>


<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/jquery-ui.min.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

{% endblock meta %}

{% block content %}
  
  {% if user.is_authenticated %}
    <div class="container-fluid text-center" style="background-color:#353535 ; min-height: 100vh;">
      <div class="row justify-content-center" >
        <div class="col-12" style="text-align: center; padding-top:10%; ">
          <h1 style="color: #EFEFEF;">Hello, {{user.username}}</h1>
          <p style="color: #EFEFEF;">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
      </div>
      <a href="{%url 'main:logout' %}" class="btn btn-outline-light" style="margin-left: 2rem;">Log Out</a>
    </div>

  {%else%}
  <div class="container-fluid text-center" style="background-color:#353535 ; min-height: 100vh;">
    <div class="row justify-content-center" >
      <div class="col-12" style="text-align: center; padding-top:10%; ">
        <h1 style="color: #EFEFEF; padding-top: 5rem;">Please Login</h1>
        <div class="separator" style="padding-top: 3rem;">
          <a href="{%url 'main:login' %}" class="btn btn-outline-light" style="padding-right: 20px; padding-left: 20px;">Login</a>
          <a href="{%url 'main:signup' %}" class="btn btn-outline-light" style="margin-left: 2rem;">Sign Up</a>
        </div>
      </div>
    </div>
  </div>

  {% endif %}

{% endblock content %}
