{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block meta %}
<title>Story 9</title>

<!-- CSS only -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1cQRFi3dgfSVKpc1B9idTEuN3cBScszNHP9silYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>


<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/jquery-ui.min.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

{% endblock meta %}

{% block content %}

<form action="" method="POST">
  {% csrf_token %}
  <div class="container text-center">
    <div class="row">
        <div class='col col-md-12' style="padding-top:5%; padding-bottom: 0px;">
          <h1 style="padding-top: 1rem;">Sign Up</h1>
        </div>
    </div>
    <div class="border border-dark" style="padding: 5%; margin:5% auto; width: 600px;">
      {% if failed %}
        <div class="alert alert-danger" role="alert">
          <p class=lead style='font-size:small; margin-bottom: 0;'> invalid username or password! </p> 
        </div>
      {% endif %}
      <div class="row justify-content-center form-group">
        <div class=col-12>
          {{form | crispy}}
          <button type="submit" name="signup" value="signup" class="btn btn-outline-dark btn-block">Login</button>
        </div>                
      </div>
    </div>
  </div>
</form>

{% endblock content %}
